<div class="form-group form-field-<%= name %>">
  <%= form.label name.to_sym, label, class: "control-label col-sm-3 #{options[:mandatory] ? 'mandatory' : ''}" %>
  <div class="col-sm-9">
    <% if widget.field_as_select?(options) %>
      <%= form.select(name.to_sym, options_for_select(options['valid_values'].map { |u| [u, u.downcase] })) %>
    <% else %>
      <% options['valid_values'].each do |value| %>
        <div class="radio">
          <%= form.label "#{name}_#{value.downcase}" do %>
            <%= form.radio_button name.to_sym, value %>
            <%= t("helpers.label.crm_form_presenter.#{name}_option.#{value.downcase}") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>