<%= form_for CrmFormPresenter.new(widget, request, controller), url: scrivito_path(widget.obj), html: { class: "form-horizontal clearfix label-position-#{widget.label_position} #{widget.columns}-column-layout #{widget.activity.id.parameterize} #{widget.styles.join(' ')}"} do |form| %>
  <% if widget.subject %>
    <%= form.hidden_field(:title, value: widget.subject) %>
  <% end %>

  <%= form.hidden_field(:widget_id, value: widget.id) %>

  <%= Obj.additional_hidden_attributes(form, widget, request) if Obj.respond_to?('additional_hidden_attributes') %>

  <div class="form-group last">
    <label class="control-label col-sm-3" for="crm_form_presenter_email">Email</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="crm_form_presenter[email]" id="crm_form_presenter_email">
    </div>
  </div>

  <% if widget.multilevel? %>
    <div class="crm-form-widget-multilevel">
      <% widget.levels.each do |level| %>
        <fieldset>
          <%= scrivito_tag :legend, level, :headline %>
          <%= render 'crm_form_widget/attributes', widget: widget, form: form, attributes: level.attributes %>
        </fieldset>

        <% if widget.dynamic_attributes.any? %>
          <fieldset>
            <%= scrivito_tag :legend, widget, :multilevel_dynamic %>
            <%= render 'crm_form_widget/dynamic_attributes', widget: widget, form: form %>
          </fieldset>
        <% end %>

        <% if widget.file_upload? %>
          <fieldset>
            <%= scrivito_tag :legend, widget, :multilevel_file %>
            <%= render 'crm_form_widget/file_upload', widget: widget, form: form %>
          </fieldset>
        <% end %>
      <% end %>

      <fieldset>
        <%= scrivito_tag :legend, widget, :multilevel_send %>
        <div class="form-submit-button-container clearfix">
          <%= form.submit widget.submit_button, class: "btn btn-primary pull-right" %>
        </div>
      </fieldset>
    </div>
  <% else %>
    <%= render 'crm_form_widget/attributes', widget: widget, form: form, attributes: widget.attributes %>
    <%= render 'crm_form_widget/dynamic_attributes', widget: widget, form: form %>
    <% if widget.file_upload? %>
      <%= render 'crm_form_widget/file_upload', widget: widget, form: form %>
    <% end %>

    <div class="form-submit-button-container clearfix">
      <%= form.submit widget.submit_button, class: "btn btn-primary pull-right" %>
    </div>
  <% end %>
<% end %>
