<div class="details-view">
  <ul class="tab-list">
    <li class="active" data-panel-target="#edit-general">General</li>
    <li data-panel-target="#edit-tags">Tags</li>
    <li data-panel-target="#edit-activity">Activity</li>
    <li data-panel-target="#edit-event">Event</li>
  </ul>

  <div class="tab-panels">
    <div class="tab-panel" id="edit-general">
      <h4>Subject</h4>
      <%= scrivito_tag :div, widget, :subject %>
      <h4>Redirect after submit</h4>
      <%= scrivito_tag :div, widget, :redirect_to %>

      <h4>Text on submitbutton</h4>
      <%= scrivito_tag :div, widget, :submit_button_text %>
    </div>

    <div class="tab-panel" id="edit-tags">
      <h4>Tags for Contact <abbr title="optional attribute. can be used to add tags to a contact like has_visited_event. contatc will be calculated by the custom attributes email and last_name of your selected activtiy. If this fields do not exist, this field has no effect." class="initialism"></abbr></h4>
      <%= scrivito_tag :div, widget, :tags, data: {editor: 'scrivito-list-editor'} %>
    </div>

    <div class="tab-panel" id="edit-activity">
      <h4>Activity</h4>
      <%= scrivito_toggle_button_editor widget, :activity_id, CrmFormWidget.activities.map { |a| a.id } %>
    </div>

    <div class="tab-panel" id="edit-event">
      <h4>Activity</h4>
      <%= scrivito_toggle_button_editor widget, :event_id, CrmFormWidget.events do |event|
          scrivito_tag(:button, widget, :event_id, data: {editor: 'scrivito-toggle-button', content: event.id}) do
            event.name
          end
        end %>
    </div>
  </div>
</div>