<%= scrivito_colapsable_for 'Attribute' do %>
  <%= scrivito_details_for do %>
    <h4>Type</h4>
    <%= scrivito_tag :div, widget, :type %>
  <% end %>

  <%= scrivito_details_for do %>
    <h4>Label</h4>
    <%= scrivito_tag :div, widget, :label %>
  <% end %>

  <%= scrivito_details_for do %>
    <h4>Title</h4>
    <%= scrivito_tag :div, widget, :title %>
  <% end %>

  <%= scrivito_details_for do %>
    <h4>Maxlength</h4>
    <%= scrivito_tag :div, widget, :maxlength %>
  <% end %>

  <%= scrivito_details_for do %>
    <h4>Values <small>Mandatory for type enum or multienum</small></h4>
    <%= scrivito_tag :div, widget, :valid_values %>
  <% end %>
<% end %>